<div style="margin-top: 40px">
  <div class="row">
    <div class="col-md-3 imageBox">
      <img src="assets/img/a.png" alt="">
      <div class="textBox">
        <div class="textBox-content">
        <h4>Mario Shirt</h4>
        <p>Price: 5$</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 imageBox">
      <img src="assets/img/a.png" alt="">
      <div class="textBox">
        <div class="textBox-content">
          <h4>Mario Shirt</h4>
          <p>Price: 5$</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 imageBox">
      <img src="assets/img/a.png" alt="">
      <div class="textBox">
        <div class="textBox-content">
          <h4>Mario Shirt</h4>
          <p>Price: 5$</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 imageBox">
      <img src="assets/img/a.png" alt="">
      <div class="textBox">
        <div class="textBox-content">
          <h4>Mario Shirt</h4>
          <p>Price: 5$</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 imageBox">
      <img src="assets/img/a.png" alt="">
      <div class="textBox">
        <h1>Price</h1>
      </div>
    </div>
    <div class="col-md-3 imageBox">
      <img src="assets/img/a.png" alt="">
      <div class="textBox">
        <h1>Price</h1>
      </div>
    </div>
    <div class="col-md-3 imageBox">
      <img src="assets/img/a.png" alt="">
      <div class="textBox">
        <h1>Price</h1>
      </div>
    </div>
    <div class="col-md-3 imageBox">
      <img src="assets/img/a.png" alt="">
      <div class="textBox">
        <h1>Price</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 imageBox">
      <img src="assets/img/a.png" alt="">
      <div class="textBox">
        <h1>Price</h1>
      </div>
    </div>
    <div class="col-md-3 imageBox">
      <img src="assets/img/a.png" alt="">
      <div class="textBox">
        <h1>Price</h1>
      </div>
    </div>
    <div class="col-md-3 imageBox">
      <img src="assets/img/a.png" alt="">
      <div class="textBox">
        <h1>Price</h1>
      </div>
    </div>
    <div class="col-md-3 imageBox">
      <img src="assets/img/a.png" alt="">
      <div class="textBox">
        <h1>Price</h1>
      </div>
    </div>
  </div>
</div>
