<div class="productDetail">
<div class="col-md-6"><img style="width: 80%" src="assets/img/a.png" alt=""></div>
<div class="col-md-6">
  <div class="title">
    <h1>Mario T-shirt</h1>
  </div>
  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
  <h3>Color</h3>
  <ul>
    <li><a class="color_pick selected" style="background: red" ></a></li>
    <li><a class="color_pick" style="background: black" ></a></li>
  </ul>
  <h3>Size</h3>
  <ul>
    <li><a class="color_pick" >S</a></li>
    <li><a class="color_pick " >M</a></li>
    <li><a class="color_pick " >L</a></li>
  </ul>

  <div class="quantity">
      <h3>Quantity</h3>
      <input type="text" class="form-control" value="0">
  </div>
  <div class="col-md-6">
    <br>
    <h3>Total</h3>
    <h1>
      15.00$
    </h1>

  </div>
  <div class="col-md-6 btn-addToCart">
    <button type="submit" class="btn btn-primary">Add to cart</button>
  </div>
</div>
</div>
