
	<div *ngFor="let user of users" class="row">
		<div class="panel panel-primary col-md-8 col-sm-8" >
				<div class="panel-heading">
				<h2 class="panel-title">{{user.studentId }}</h2>
				</div>
				<div class="panel-body row">
					<div class="col-md-6 col-sm-6">
					<p class="user-name" (click)="showDetail(user)"> {{user. name | uppercase}} {{user.surname}}</p>
					<p *ngIf="user.gpa > 2.5">Good Student who get grade {{user.gpa | number:'1.2-2'}}</p>
					<p *ngIf="user.gpa <= 2.5">Bad Student who get grade {{user.gpa  | number:'1.2-2'}}</p>
					<div class="row">
            <div class="col-sm-offset-1 ">
						<button type="button" class="btn btn-primary btn-xs col-md-1" (click)="downQuantity(user)">-</button>
						<input type="text" class="col-md-1" [(ngModel)]="user.penAmount"/>
						<button type="button" class="btn btn-primary btn-xs col-md-1" (click)="upQuantity(user)">+</button>
					</div>
          </div>
					</div>
					<div class="col-md-4 col-sm-6">
						<img class="img-responsive" [src]="user.image" [title] = "user.name">
					</div>
				</div>
		</div>
	</div>

	<div class="alert alert-success col-md-8 col-sm-8"> The average gpa is {{averageGpa()|number:'1.2-2'}} </div>



