<form >

  <!--<div class="signin-form collapse" id="collapseExample">-->
<h3>Bank transfer</h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Account Number</th>
        <th>Account Name</th>
      </tr>
      <tr>
        <td>Kasikorn Bank</td>
        <td></td>
        <td></td>
      </tr>
    </table>
  <!--</div>-->
  <span>
  <button class="btn btn-primary btn-signup" (click)="open()" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Create an account
  </button>
</span>
</form>



